body
{
    margin: 0;
    padding: 0;

}


.nav{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    position: absolute;
    top:  4%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px;
    padding: 15px 15px;
  
     box-shadow: 0 0px 30px rgba(0,0,0,3); 
}

.login{
    left: 50%;
    margin: 10px;
}
.circle{

height: 40px;
width: 40px;
border-radius: 50%;
background-color:black;
}
.matter{
    
    position: absolute;
    left: 22px;
    top: 21px;
    color: white
   
}
.contentpart{

    margin-top: 120px !important;

}
